/* Empty. Add your own CSS if you like */
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: Roboto, serif;
}

button.ion-star {
    font-size: 15px;
    float: right;
}
